*{
    margin:0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  
:root {
    --main-padding:5px;
}
  
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.05fr;
    grid-template-areas: 
    "sidebar main main main"
    "sidebar footer footer footer";
    text-align: center;
    overflow: auto;
}
  
#sidebar {
    background: rgb(77, 89, 201);;
    grid-area: sidebar;
    text-align: center;
    z-index: 1;
}
  
main {
    background: rgb(203, 198, 198);;
    grid-area: main;
    padding-top:var(--main-padding);
}
  
footer {
    background:rgb(146, 129, 231);
    grid-area: footer;
    padding-top:var(--main-padding);

}
  
@media only screen and (max-width:550px){
    .container{
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 2.2fr 0.2fr;
      grid-template-areas: 
        "sidebar"
        "main"
        "footer";
    }
}
  
ul {
    list-style-type: none;
}

li a {
    color: rgb(29, 30, 80);
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 18px;

}

li a:hover {
    background-color: rgb(146, 129, 231);
    color: white;
    cursor: pointer;
}
  
.title {
    padding-top: 20px;
    color:#465490;
}

.active {
    background-color: #465490;
    color: white;
}

.input, .subtitle {
    font-size: 25px;
    display: block;
    margin-bottom: 18px;
}

.subtitle {
    color:#465490
}

.input {
    border: 4px solid rgb(146, 129, 231);
    border-radius: 12px;
    color:#465490;
    font-size: 18px;
    padding: 6px;
}

#submit:hover {
    cursor: pointer;
    background-color:#465490;
    color: white;
    transition-timing-function: ease-in-out;
    transition: background-color 0.5s;
    transition: color 2s;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 50%;
    text-align: left;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8vh;
    margin-bottom: 10vh;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 10vh;
    padding-top: 35px;
    padding-bottom: 35px;
}

#notes {
    text-align: center;
    padding-bottom: 10px;
}

.notes {
    text-align: justify;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-left: 10%;
}

#colored {
    color:rgb(29, 30, 80);
}

#image {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
}

.imagetext {
    font-size: 15px;
    text-decoration: underline;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgb(250, 250, 250);
    color: white;
}

.smaller {
    max-width: 80%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#ontop {
    position: absolute;
    top: 85%;
}

#grid-col {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2%;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    
}

div.cell {
    background:#465490;
    border: 1px solid Blue;
    padding: 10px;
    position: relative;
    display: block;
    float: left;

}

@media screen and (max-width: 640px) {
    #grid-col { grid-template-columns: 100%; }
}


